.blue {
  color: var(--color-blue);
  font-size: 2.75rem;
}

.image {
  height: 100vh;
}

.loginText {
  width: 400px;
}

span {
  color: rgb(171, 33, 33);
}

@media (max-width: 890px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .image {
    height: 200px;
  }
}

@media (max-width: 490px) {
  .loginText {
    width: 300px;
  }
  .image {
    height: 200px;
  }
}

@media (max-width: 340px) {
  .loginText {
    width: 220px;
  }
  .image {
    height: 200px;
  }
}
