.fc-event-time, .fc-event-title {
    padding: 0 1px !important;
    white-space: normal !important;
}

.teste .fc-event-title-container {
    text-align: center;
    line-height: 25px;
}

.fc-daygrid-day-events{
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}

.fc-daygrid-event-harness:after, .fc-daygrid-day-events:after, .fc-daygrid-event-harness:before{
    content: none !important;
}
.fc-daygrid-event{
    white-space: nowrap; 
    width: 100% ; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border-radius: 12px !important;
    margin-top: 8px !important;
}

.evento{
    display: flex !important;
    flex-direction: column !important;
    gap: 6px;
    padding: 6px 12px;
}

.date-event{
    border: none !important;
}
.evento strong{
    color: black;
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
    width: 100%;
}
.evento p{
    color: black;
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
    width: 100%;
}

/* MODAL */

.event-modal{
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px;
    border: 2px solid var(--color-blue);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.event-modal .close-modal{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    font-weight: 600;
}

.modal-date{
    display: flex;
    justify-content: center;
}

.modal-processo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-processo{
    display: flex;
    justify-content: space-between;
}

.modal-processo h3{
    max-width: 90%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header a{
   color: #000000;
   transition: all ease-out 200ms
}
.modal-header a:hover{
    color: rgba(0, 0, 0, 50%);
}

.modal-critico{
    height: 24px;
    width: 24px;
    border-radius: 100px;
    background-color: #EF4444;
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}
.modal-etapa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-divisor{
    width: 100%;
    height: 2px;
    margin: 20px 0;
}

.event-modal .color-tag{
    height: 16px;
    width: 100px;
    border-radius: 20px;
}
.hide{
    display: none;
}
.blur {
    opacity: 0.3;
}

.ATIVO{
    border: 2px solid #ffffff !important;
    outline: 2px solid #EF4444 !important;
    box-shadow: 2px 4px 10px 2px #EF4444 !important;
}
.INATIVO{
    border: 2px solid transparent !important;
    outline: 2px solid transparent !important;
}

