.cardCor{
    height: 25px;
    width: 50px;
    opacity: 60%;
}

.legendaLinha{
    display: flex;
    gap: 10px;
    align-items: center;
}

.fc-bg-event{
    opacity: 60% !important;
}



.fc-daygrid-day-number{
    font-weight: 800;
    color: #000000;
    font-size: 1rem;  

}
.fc-media-screen{
    margin: 0 auto;
    max-width: 1200px;
    max-height: 700px;
}

.feriado{
    font-weight: 600;
    color: #000000;
    font-size: 1rem;   
    opacity: 100% !important;
    
}


.etapa div{
    font-weight: 800;
    color: #000000;
    margin-right: 12px !important;
}

.areas{
    margin-top: 40px !important;
}

.legendaSection{
    position: absolute;
    left: 5%;
    bottom: 50%;
}