.a1{
    background-color: #ef4444 !important;
}
.a2{
    background-color: #3b82f6 !important;
}
.a3{
    background-color: #84cc16 !important;
}
.a4{
    background-color: #8b5cf6 !important;
}
.a5{
    background-color: #ec4899 !important;
}
.a6{
    background-color: #f97316 !important;
}
.a7{
    background-color: #eab308 !important;
}
.a8{
    background-color: #10b981 !important;
}
.a9{
    background-color: #0ea5e9 !important;
}
.a10{
    background-color: #a855f7 !important;
}
.a11{
    background-color: green !important;
}
.a12{
    background-color: purple !important;
}
.a13{
    background-color: #f43f5e !important;
}
.a14{
    background-color: #6366f1 !important;
}
.a15{
    background-color: #f59e0b !important;
}
.a16{
    background-color: #14b8a6 !important;
}







.fc-media-screen{
    margin: 0 auto;
    max-width: 1200px;
    max-height: 800px;
}

.feriado{
    font-weight: 800;
    color: #000000;
    font-size: 1.25rem;   
    opacity: 100% !important;
    
}
