body::-webkit-scrollbar {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  width: 12px !important;
  border-radius: 20px !important;

  border: solid 1px rgb(213, 213, 213) !important;
}
.calendario {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
}

.fc .fc-scroller::-webkit-scrollbar {
  background-color: #fff;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
  width: 12px !important;
  border-radius: 20px !important;
  border: solid 1px rgb(213, 213, 213) !important;
}

.fc-scroller {
  overflow: hidden scroll !important;
}

.cardCor {
  height: 25px;
  width: 25px;
  opacity: 90%;
  border-radius: 5px;
  margin-left: 10px;
}

.legenda h1 {
  margin-bottom: 30px;
}

.legendaLinha {
  display: flex;
  gap: 10px;
  align-items: center;
}
.containerTitulo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.legendaSection{
  margin-bottom: 60px;
}
.fc-bg-event {
  opacity: 90% !important;
}

/* CALENDARIO COMPLETO*/
.fc-media-screen {
  margin: 0 auto;
  max-width: 80%;
  max-height: 62vh;
}

.fc-daygrid {
  border-radius: 16px !important;
}
/* TABELA */

.fc table {
  border-collapse: initial;
  border-spacing: 8px;
}

/* QUADRADO DO DIA */

.fc-daygrid-day-number {
  font-weight: 600;
  color: #000000;
  font-size: 1rem;
  left: -4px;
  top: -10px;
  opacity: 80% !important;
}

.fc-daygrid-day-top {
  margin-right: 6px;
}

.fc-daygrid-day {
  width: auto !important;
  height: 200px;
  border-radius: 12px !important;
}

.fc-daygrid-bg-harness {
  border-radius: 12px !important;
  position: absolute !important;
}

.fc-daygrid-day .fc-day {
  border-radius: 12px !important;
}

/* EVENTO */

.fc-event-title {
  padding-left: 4px !important;
  margin: 0 8px;
  opacity: 100% !important;
  position: relative !important;
  z-index: 12 !important;
}

.fc-bg-event {
  border-radius: inherit;
  border: 4px solid #ffffff;
}

.feriado {
  font-weight: 600;
  color: #000000;
  font-size: 1rem;
  opacity: 100% !important;
}

.etapa div {
  font-weight: 800;
  color: #000000;
  margin-right: 12px !important;
}
.fc-event-title {
  margin-top: 30px !important;
}

.etapa .fc-event-title {
  margin-top: 30px !important;
  font-style: normal !important;
  word-break: break-word !important;
}

.areas {
  margin-top: 40px !important;
  background-color: inherit;
  font-weight: 600;
  border: none;
  z-index: 999 !important;
  display: absolute !important;
}

.areas .fc-event-title {
  display: flex !important;
  /* width: 143px; */
  height: auto !important;

  word-break: break-word !important;
}
.legenda {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 100% !important;
}

.containerData {
  width: 1200px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: -20px;
}

.fc-today-button {
  background-color: #fff !important;
  border: 1px solid #1e62fe !important;
  color: #1e62fe !important;
  font-weight: 600 !important;
}

.fc-next-button, .fc-dayGridDay-button {
  background-color: transparent !important;
  color: #1e62fe !important;
  border-radius: 0px 5px 5px 0px !important;
  border: none !important;
}

.fc-prev-button, .fc-dayGridMonth-button {
  background-color: transparent !important;
  color: #1e62fe !important;
  border-radius: 5px 0px 0px 5px !important;
  border: none !important;
}

.fc-dayGridWeek-button {
  background-color: transparent !important;
  color: #1e62fe !important;
  border-radius: 5px 0px 0px 5px !important;
  border: none !important;
}

.fc .fc-button:focus{
  box-shadow: none !important;
  background-color: #ffffff !important;
  color: #1e62fe !important;
  font-weight: 600 !important;
}

.ATIVO{
  border: 2px solid #ffffff !important;
  outline: 2px solid #EF4444 !important;
  box-shadow: 2px 4px 10px 2px #EF4444 !important;
}
.INATIVO{
  border: 2px solid transparent !important;
  outline: 2px solid transparent !important;
}

.fc-button-active {
  font-weight: bold !important;
  border: 1px solid #1e62fe !important;
  border-radius: 5px !important;
}

@media (max-width: 1230px) {
  .containerData {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .fc-event-title {
    font-size: 12px !important;
    word-break: break-word !important;
  }
}
