.icon {
  color: #9ca3af;
  fill: #9ca3af;
  display: flex;
  align-items: center;
}

a {
  color: #9ca3af;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  height: 25px;
}

.chevron {
  display: flex;
  align-items: center;
}
