.ContainerSection {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.dataPicker{
  width: 220px;
}
.ContainerTitle h2{
  color: #1e62fe;
  margin-bottom: 40px;
}
.ContainerConteudo {
  width: 80%;
  background-color: #ccc;
}

.ContainerCalendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.ContainerCalendario form {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ContainerNomeEdicao {

  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ContainerMenorCalendario{
  display: flex;
  gap: 40px;
}


.dateContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dateContainer p{
  font-size: 1.125rem;
  font-weight: 600;
  padding-left: none;
  margin: none;
}

.submitButton{
  width: 200px;
}

@media (max-width: 1200px) {
  .ContainerSection {
    height: 100%; 
  }
  .ContainerCalendario {
    width: 95%;
  }
  .ContainerMenorCalendario {
    flex-direction: column;
    align-items: center;
  }
  .ContainerNomeEdicao {
    padding: 8% 5% 5% 9.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
