.notFindContainer {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.notFindContainer h1 {
    font-size: 3rem;
}

.notFindContainer h2 {
    font-size: 1.5rem;
}

.notFindContainer img {
    max-width: 500px;
    width: 70%;
}

.notFindContainer a {
    font-size: 1.25rem;
    transition: ease-in-out all 100ms
}

.notFindContainer a:hover {
    color: var(--color-blue);

}