@media (max-width: 1000px) {
  .ContainerPerfil {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 650px;
  }

  .FormPerfil {
    margin-top: 40px;
    width: 400px;
  }
}

@media (max-width: 700px) {
  .FormPerfil {
    margin-top: 40px;
    width: 300px;
  }
}

/* className={styles.ContainerPerfil} */
