.FormAdmin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ContainerEnviar {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.BotaoEnviar {
  background-color: #1976d2;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.BotaoEnviar:hover {
  scale: 1.01;
}

.TrocarFoto {
  background-color: #1976d2;
  padding: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
}

.FormPerfil {
  margin-top: 20px;
  width: 400px;
}
@media (max-width: 1100px) {
  .ContainerPerfil {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 800px;
  }

  .FormPerfil {
    margin-top: 20px;
    width: 400px;
  }
}

@media (max-width: 800px) {
  .FormPerfil {
    margin-top: 20px;
    width: 300px !important;
  }
  .ContainerEnviar {
    width: 300px;
  }
}
